{% extends "bootstrap/base.html" %}

{% block title %} NogSon | Beta {% endblock %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename = 'estiloextra.css') }}" rel='stylesheet'>
{% endblock %}

{% block navbar %} 
<nav class="navbar navbar-inverse navbar-fixed-top" role="navitagione">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">NogSon | Beta</a>
        </div>

        <!-- Coleccion de links del menu, formas y otro contenido para [toggling] -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">Acerca</a>
                </li>
                <li>
                    <a href="#">Servicios</a>
                </li>
                <li>
                    <a href="#">Contacto</a>
                </li>
            </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">

    <div class="row">


        <div class="col-md-12">

            <div class="row carousel-holder">

                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"</li>
                            <li data-target="#carousel-ejemplo-generic" data-slide-to="2"</li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="http://placehold.it/800x300" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="http://placehold.it/800x300" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="http://placehold.it/800x300" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
           </div>
       </div>

    </div>


    <div class="row">
        <div class="col-sm-4 col-lg-4 col-md4">
            <div class="thumbnail">
                <div class="caption">
                    <h4 class="pull-right">123.123</h4>
                    <h4><a href="#">casilla uno</a></h4>
                    <p> Esta es la primer casilla, probablemente el tipo de cambio</p>
                </div>
                <div class="ratings">
                    <p class="pull-right">probando glyphicon</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-4 col-md4">
            <div class="thumbnail">
                <div class="caption">
                    <h4><a href="#">La linea para el otro lado</a></h4>
                    <h5>Deconcini</h5>
                    <p>
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Deconcini</th>
                          <th>Puertas</th>
                          <th>Tiempo de Espera</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td> <i class="icon-plus"></i></td>
                          <td> {{ lineas }} </td>
                          <td> {{ minutos }} minutos</td>
                        </tr>
                      </tbody>
                    </table>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-lg-4 col-md4">
            <div class="thumbnail">
                <img src="http://placehold.it/320x150" alt="">
                <div class="caption">
                    <h4 class="pull-right">123.123</h4>
                    <h4><a href="#">casilla tres</a></h4>
                    <p> Esta es la primer casilla, probablemente el tipo de cambio</p>
                </div>
                <div class="ratings">
                    <p class="pull-right">probando glyphicon</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

    {% endblock %}
